                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a href="#"><img alt="img" src="/img/desktop/courses/2.jpg" style="height:230px"></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a href="/courses/speakdaily">成人套餐</a>
                              <span><i class="fa fa-clock-o"></i>1年</span>
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4><a href="/courses/speakdaily">每天和外教学习是什么样的感觉</a></h4>
                            <p>不需要去学习枯燥的传统课程了，让我们在游玩的过程中潜移默化地学习，外教随时随地等待您的召唤，我们的外教会按照我们的教材给您设定情景，或您需要陪玩，过生日，购物...</p>
                            <div class="mu-latest-course-single-contbottom">
                              <a href="/courses/speakdaily" class="mu-course-details">SpeakDaily Program 详情</a>
                              <span href="#" class="mu-course-price">￥2999</span>
                            </div>
                          </div>
                        </div>