                        <div class="mu-latest-course-single">
                          <figure class="mu-latest-course-img">
                            <a href="#"><img alt="img" src="/img/desktop/meetup.jpg" style="height:230px"></a>
                            <figcaption class="mu-latest-course-imgcaption">
                              <a href="/activity">常规活动</a>
                              <span><i class="fa fa-clock-o"></i>8月</span>
                            </figcaption>
                          </figure>
                          <div class="mu-latest-course-single-content">
                            <h4><a href="/activity">英语口语督促计划</a></h4>
                            <p>前7月沉淀学习，第8月现实应用：和外教线下户外学习，口语聚会16次，8部视频，16部音频学习等；有趣的方式，交一定契约金..返回全部契约金并得到现金奖励的方式..</p>
                            <div class="mu-latest-course-single-contbottom">
                              <a href="#" class="mu-course-details">X-Plan 计划详情</a>
                              <span href="/activity" class="mu-course-price">￥588</span>
                            </div>
                          </div>
                        </div>