{{#extend "css"}}
    <style>
     #mu-latest-courses .mu-latest-course-img a>img{
         display:inline-block;
         height:100px;
     }
    </style>
{{/extend}}


  <!-- Start Slider -->
  <section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="/img/desktop/slider/1.jpg" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Welcome To Trver</h4>
        <span></span>
        <h2>T2H: 带个外教回家生活</h2>
        {{#if isMobile}}
        <p>孩子在2-15岁是学习第二语言的最佳时期，您错过了么？让孩子快速说出一口流利的外语？并让孩子每天有机会和外教一起玩耍？</p>  
        {{else}}
        <p>孩子在2-15岁是学习第二语言的最佳时期，您错过了么？</p>
        <p>让孩子快速说出一口流利的外语？并让孩子每天有机会和外教一起玩耍？</p>         
        {{/if}}      
        <p>让孩子把英语当母语学习，并体验中外文化差异？</p>

        <a href="/courses/t2h" class="mu-read-more-btn">Read More</a>
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="/img/desktop/slider/2.jpg" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>SpeakDaily计划</h4>
        <span></span>
        <h2>每天和外教学习是什么样的感觉</h2>
        <p>不需要再去学习枯燥的传统课程了，学英语最好的方式是在游玩的过程中潜移默化地学习，外教随时随地等待您的召唤，陪玩，过生日，购物，you name it!</p>
        <p>试图摆脱哑巴英语？</p>

        <a href="/courses/speakdaily" class="mu-read-more-btn">Read More</a>
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
<!--     <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="assets/img/slider/3.jpg" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>X-Plan计划</h4>
        <span></span>
        <h2>英语口语督促计划</h2>
        <p>让中国人摆脱哑巴英语！ 学制8个月， 前7月沉淀学习，第8月现实应用：和Native Speakers（外教）线下户外学习， 口语聚会16次，8部视频，16部音频学习等；有趣的方式，坚持学习英语口语（听说），交一定契约金并坚持成功，返回全部契约金并得到累积现金奖励的方....</p>
        <a href="https://weidian.com/item.html?itemID=1948899720" class="mu-read-more-btn">Read More</a>
      </div>
    </div> -->
    <!-- Start single slider item -->    
  </section>
  <!-- End Slider -->
  <!-- Start service  -->
  <section id="mu-service" style="margin-top: -50px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-service-area">
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-book"></span>
              <h3>报名</h3>
              <p><a href="/courses/t2h">我们的颠覆性课程提供给您的是优惠的价格（T2H课程 约14元每天外教课程），如果您认真参加我们的T2H课程，我们可以确信一年后您孩子的口语水平将能达到自信流畅的程度!</a></p>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-users"></span>
              <h3>请外教攻略</h3>
              <p><a href="/courses/questions">在于外教接触过程中需要注意的事项及建议!由于文化差异，总会有些东西需要注意！在与外教深入接触实践中，我们能学到不同的文化差异及文化碰撞，切实体会到全球化的意义</a></p>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-table"></span>
              <h3>常规活动</h3>
              <p><a href="/rules">我们的前生是Oral's Salad英语口语沙拉，已经一周岁啦!同时我们的线上线上聚会会定期举行，我们会不时请外教过来，一欢乐地学口语！<a href="#mu-footer">Latest Activity</a></p>
            </div>

            {{!--<div class="mu-service-single">
              <span class="fa fa-table"></span>
              <h3>Classfied Path</h3>
              <p>
                <form>
                  <input type="text" name="code" placeholder="Please input the Classified Code/Numbers!" style="width=100%;height:30%;display:block;">
                  <input type="submit" value="Submit" class="mu-post-btn" style="visibility: visible;border:1px solid black;display:block">
                </form>
              </p>
            </div>--}}
            <!-- Start single service -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End service  -->

  <!-- Start about us -->
  <section id="mu-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-us-area">           
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-left">
                  <!-- Start Title -->
                  <div class="mu-title">
                    <h2>About Us</h2>              
                  </div>
                  <!-- End Title -->
                  <p>我们专注从事英语口语教育，我们热爱英语，不喜欢枯燥低效又昂贵的传统教学方式，致力于通过有趣好玩的方式学习掌握英语口语。 我们的使命： 通过颠覆性的方式，提供一个日常语言环境，在日常生活中，如母语的学习过程，学习第二门语言，让您的孩子或家庭成员快速说出一口流畅的英语口语。</p>
                  <ul>
                    <li>方式有趣，在玩的过程中学习.</li>
                    <li>专注口语</li>
                    <li>抛弃传统观念，以颠覆性方式提供口语学习方案</li>
                    <li>一年内随时更换外教.</li>
                    <li>关注少儿英语学习最佳阶段，在一年内让孩子学一口流畅的二外语言.</li>
                  </ul>
                  <p>在我们这里，只有你想不到，没有我们做不到!</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-right">                            
<!--                 <a id="mu-abtus-video" href="http://v.ku6.com/show/GQm6vywCm-4p6g1dKXfzXQ...html" target="mutube-video">
                  <img src="assets/img/about-us.jpg" alt="img">
                </a>  --> 
                 <img src="/img/desktop/aboutUs.jpg" alt="img" style="width:100%;height:100%;diplay:inine-block;">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about us -->

  <!-- Start about us counter -->
  <section id="mu-abtus-counter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-abtus-counter-area">
            <div class="row">
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single">
                  <span class="fa fa-book"></span>
                  <h4 class="counter">02</h4>
                  <p>课程</p>
                </div>
              </div>
              <!-- End counter item -->
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single">
                  <span class="fa fa-users"></span>
                  <h4 class="counter">1000</h4>
                  <p>1年配对家庭</p>
                </div>
              </div>
              <!-- End counter item -->
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single">
                  <span class="fa fa-flask"></span>
                  <h4 class="counter">197</h4>
                  <p>外教遍布全球</p>
                </div>
              </div>
              <!-- End counter item -->
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single no-border">
                  <span class="fa fa-user-secret"></span>
                  <h4 class="counter">1000</h4>
                  <p>外教</p>
                </div>
              </div>
              <!-- End counter item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about us counter -->

  <!-- Start features section -->
  <section id="mu-features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-features-area">
            <!-- Start Title -->
            <div class="mu-title">
              <h2>服务保障</h2>
              <p>信誉是服务之本，我们确保各位学员能得到货真价实的服务。我们从外教团队审核，培训，服务个性化，评价等入手，保证各位学员的切身利益</p>
            </div>
            <!-- End Title -->
            <!-- Start features content -->
            <div class="mu-features-content">
              <div class="row">
                <div class="col-lg-4 col-md-4  col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-check-circle"></span>
                    <h4>审核严格</h4>
                    <p>外教审核严格。25岁下国内外大学生，安全放心!</p>
                    <!-- <a href="#">Read More</a> -->
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-microphone"></span>
                    <h4>语音标准</h4>
                    <p>Native Speakers 语音标准，口语纯正.</p>
                    <!-- <a href="#">Read More</a> -->
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-users"></span>
                    <h4>个性化保障</h4>
                    <p>一年免费更换服务外教，保障个性需求</p>
                    <!-- <a href="#">Read More</a> -->
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-laptop"></span>
                    <h4>评价体系</h4>
                    <p>完善的评价体系，服务透明，保障各方利益</p>
                    <!-- <a href="#">Read More</a> -->
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-gavel"></span>
                    <h4>每月竞拍</h4>
                    <p>部分特别优秀外教，采用竞拍形式</p>
                   <!--  <a href="#">Read More</a> -->
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-calendar"></span>
                    <h4>教学保证</h4>
                    <p>入驻家庭外教，至少5小时/周</p>
                    <!-- <a href="#">Read More</a> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- End features content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End features section -->

  <!-- Start latest course section -->
  <section id="mu-latest-courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-latest-courses-area">
            <!-- Start Title -->
            <div class="mu-title">
              <h2>课程导航</h2>
              <p>我们的课程精挑细选，只为您准备!</p>
            </div>
            <!-- End Title -->
            <!-- Start latest course content -->
            <div id="mu-latest-course-slide" class="mu-latest-courses-content">
              <div class="col-lg-4 col-md-4 col-xs-12">
                  {{> desktop/courses/t2h}}
              </div>
              <div class="col-lg-4 col-md-4 col-xs-12">
                  {{> desktop/courses/speakDaily}}
              </div>
              <div class="col-lg-4 col-md-4 col-xs-12">
                 {{> desktop/courses/x-plan}}
              </div>

            </div>
            <!-- End latest course content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End latest course section -->

  