<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
    <link rel="stylesheet" href="">
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back"> 
                <span class="icon icon-left"></span>
                BACK
              </a>
             {{#if user}}
                {{#if user.vip}}
                  <a class="button button-link button-nav pull-right" external href="">
                    <!--<span class="icon icon-edit"></span>-->
                    VIP
                  </a>
                {{else}}
                  <a class="button button-link button-nav pull-right" external href="/services">
                    <!--<span class="icon icon-edit"></span>-->
                   成为VIP
                  </a>
                {{/if}} 
              {{/if}}  
              <h1 class='title'>第一周音频资料1/2</h1>
            </header>            

            <!-- 工具栏 -->
           {{> general/tabs}}



            <!-- 这里是页面内容区 -->
            <div class="content content-padded">
           
              <div class="content-block">
                {{#if user}}
                {{#if user.vip}}
                <p>官方音频文本参考翻译 第一周末发布！</p>
                <p>视频下载链接： <a href="https://pan.baidu.com/s/1i5qJMeT">Download</a> 秘钥： 8zjb</p>


                


                {{else}}
                <p>本资源库限X-Plan学员使用下载！成为VIP? 报名详情 <a href="/services"></a></p>
                {{/if}}

                {{else}}
                <p>本资源库限X-Plan学员使用下载！</p>
                {{/if}}



              </div>


            </div><!--.page-->

        <!--其他的单个page内联页（如果有）-->
        <!--<div class="page">...</div>-->
    </div>

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    {{> general/slide}}