<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
    <link rel="stylesheet" href="">
    <style>
      .infinite-scroll-preloader {
        margin-top:-20px;
      }      
    </style>
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left"> <!--get rid of back class-->
                
                <!--<span class="icon icon-left"></span>
                返回-->
              </a>
               <a class="icon icon-menu pull-right open-panel" href="#"></a>
              <h1 class='title'>最新话题</h1>
            </header>            

            <!-- 工具栏 -->
           

            <!-- 这里是页面内容区 -->
            <div class="content close-panel infinite-scroll infinite-scroll-bottom" data-distance="100">
                <div class="list-block media-list" style="margin:0;">
                    <ul>
                      <li>
                        <a href="https://weidian.com/item.html?itemID=1948899720" class="item-link item-content">
                          <div class="item-media"><img src="/img/speak.png" style='width: 2.2rem;'></div>
                          <div class="item-inner">
                            <div class="item-title-row">
                              <div class="item-title">X-PLAN</div>
                            </div>
                            <div class="item-subtitle" style="font-size:0.5rem;">火热招募中...</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>   

                <!--<div class="content-block-title minPost">热门话题</div>-->
                {{> post/postsLoop}}

                <!-- 加载提示符 -->
                <!--<div class="infinite-scroll-preloader">
                    <div class="preloader"></div>
                </div>      -->

              </div>


            </div><!--.page-->

        <!--其他的单个page内联页（如果有）-->
        <div class="page">...</div>
    </div>

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    {{> general/slide}}

























       
       
       
           