
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>帮助 Help</h2>
           <ol class="breadcrumb">
            <li><a href="/">Home</a></li>            
            <li class="active">Course Help[课程帮助]</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">

              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-course-details">
                  <div class="row">
                    <div class="col-md-12">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        如何开始申请认领外教？
                                        </a>
                                    </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                       我们的外教都在25周岁以下，并在资信，人品和外语口音等方面经过我们的严格审核，家庭可以放心选择！在Trver平台选外教到家，需要: 
                                       <ul>
                                           <li>1，在相应课程页面点击 '付款审核'  付款</li>
                                           <li>1，付款后，关于后续事项，我们的工作人员会及时电话联系您</li>
                                       </ul>
                                    </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        外教资质怎么样？
                                        </a>
                                    </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        我们的外教都以学生选择的课程语言为第一母语，避免滥竽充数的情况出现。并VIP家庭会员可以免费随时预约更换外教，保证个性化需求！
                                    </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        T2H青少儿外教课程中，我们平时生活中上课有教材么？ || 我们的教材
                                        </a>
                                    </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        我们是一家特立独行的外语口语教育培训机构，教材也会与众不同。我们不会以常规的方式去教学！为达到更好的效果，我们使用美国的原版教材，并从单词拼写到初中级阶段，我们设置了为期1-1年半的课程，由浅入深教学。主要以口语为主，写为辅；并一切以生活场景中切入为原则教学！<br/>
                                        #教材 我们会提供免费的电子版教材，如需要纸质版教材，请提前联系订购，我们会寄送到您家里！
                                    </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        T2H青少儿外教课程中 怎么监督外教的教学？
                                        </a>
                                    </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        由于外派入住家庭的特殊性，我们官网设置了评价反馈体系，学员家长可以退回不合格的外教，给予差评，并外教也可以评价家庭，双向的评价过程对双方起到一定约束作用！
                                    </div>
                                    </div>
                                </div>

                                </div>

                        </div>
                      </div> 
                    </div>                                   
              </div>

              <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">

                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Popular Course</h3>
                    <div class="mu-sidebar-popular-courses">
                     {{> desktop/shares/sidebarA}}
                     {{> desktop/shares/sidebarB}}
                     {{> desktop/shares/sidebarAdult}} 

                    </div>
                  </div>


                   <div class="mu-single-sidebar">
                    <h3>Activity[活动]</h3>
                      <div class="mu-sidebar-popular-courses">
                      {{> desktop/shares/sidebarX}} 

                      </div>
                  </div> 

                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Tags Cloud</h3>
                    <div class="tag-cloud">
                      <a href="/courses/t2h">外教带回家</a>
                      <a href="/courses/t2h">T2H</a>
                      <a href="/activities">活动: X-Plan</a>
                      <a href="/courses/speakdaily">SpeakDaily</a>
                    </div>
                  </div>
                  <!-- end single sidebar -->
                </aside>
                <!-- / end sidebar -->
             </div><!--col-3-->




              </div>
            </div>
                <!-- end course content container -->

           </div>
         </div>
       </div>

 </section>



