.comment{
    padding-bottom:0.5rem;
    padding-top:0.5rem;
    border-bottom:1px solid #e3e3e3;
    width:100%;
    .authorArea{
        width:100%;
        font-size:0.4rem;
        
        a.commentImg{
            display:inline-block;

            &>img{
                display:inline-block;
                width:0.9em;
                height:0.9em;
                
                border-radius: 100%;
            }

        }

        a>span.icon-me{
            display:inline-block;
            width:2em;
            height:2em;
            
            border-radius: 100%;
            font-size:0.5rem;
        }
        &>span{
            display:inline-block;
            //line-height:1em;
            //height:2em;
            font-size:0.7rem;
            color:grey;

        }

    }
    div.commentContent{
        
        p{
            font-size:0.7rem;
            margin-left:0.9em;
            margin-top:0;
        }
    }
}