div.paging{
    text-align:center;
    width:100%;
    margin-bottom:0.7rem;
    &>.middleSpan{
        display:inline-block;
        width:2rem;
    }
    a{
        display:inline-block;
        span{
            font-size:1.3rem;
        }
    }
    a.prepage{
        
      

    }
    a.nextPage{

    }
}
