.listWrapper{
    background-color: #fff; 
    margin: 0.4rem 0;
    width:100%;
    .topGroup{
        text-align:center;
        width:100%;
        
        span{
            display:block;
            width:100%;
            color:#e3e3e3;
            padding-top:0.2rem;
            

            span{
                display:inline-block;
                width:1rem;
                border-bottom:1px solid #e3e3e3;
            

                
            }

        }
    }
    .midText{
        width:100%;
        padding:0.5rem 0.5rem;
        padding-bottom:0;
        overflow:hidden;



        .leftText,.rightImg{
            display:inline-block;
            margin-top:0;
            padding-top:0;
        }
        .leftText{
            width:60%;
            //height:6em;
            float:left;
            padding-right:1rem;


            h2{
                margin-top:0;
                padding-top:0;

            }
            p{
                margin-top:0.2rem;
                a{
                    color:#000;
                    
                }
            }

            p,h2{
                @include break();
            }

        }
        .rightImg{

           //float:right;
            background-size:contain;
            background-repeat:no-repeat; 
            width:40%;
            height:6em;
            border:1px soild red;  
            margin-top:0.2rem; 
                   
            
            img{
                display:block;
                width:70%;
                

            }

        }

    }//end of midText
    .bottomLine{
        width:100%;
        padding:0.5rem;
        padding-top:0;
       
       
        p{
            width:100%;
            text-align:left;
            color:#e3e3e3;
            font-size:0.6rem;
            margin-top:0;

        }
    }
    

}