                  
									 <div class="expatsList">
									    <div class="col-sm-12 col-md-3">
             
                        <div class="personalImg"></div>
                        <div class="viewInfo"><a href="" class="btn btn-info">查看 {{this.user.username}}</a></div>
        
                      </div>
                      <div class="col-sm-12 col-md-9 expatsListDetail">
                        <h3>{{this.username}}</h3>
                        <span class="expatsCt">Male, 来自 {{this.fromCountry}},{{fromState}}</span>
                        <p>ii am is astudnt is in shanghai and ia,ii am is astudnt is in shanghai and iaii am is astudnt is in shanghai and iaii am is astudnt is in shanghai and iaii am is astudnt is in shanghai and ia<p>
                        <p><span>现在位于: </span>@ <span>Hangzhou, china ,xihu district</span></p>
                        <p><span class="btn btn-success">English</span> <span class="btn btn-success">English</span> <span class="btn btn-success">English</span><p>
                      </div>
									 </div>