  <!-- Start footer -->
  <footer id="mu-footer" style="border-top:5px dashed #000">
    <!-- start footer top -->
    <div class="mu-footer-top">
      <div class="container">
        <div class="mu-footer-top-area">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Information<br>(信息)</h4>
                <ul>
                  <li><a href="/#mu-about-us">About Us（关于我们）</a></li>
                  <li><a href="/#mu-features">Features（服务保障）</a></li>
                  <li><a href="/#mu-latest-courses">Course（课程）</a></li>
                  <li><a href="http://trver.com/service">Event（活动）</a></li>
<!--                   <li><a href="">Sitemap</a></li> -->
                 <!--  <li><a href="">Term Of Use（服务条款）</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Student Help<br>(中国家庭帮助)</h4>
                <ul>
                  <li><a href="/courses/questions">Get Started（开始）</a></li>
                  <li><a href="/courses/questions">My Questions（常见问题）</a></li>
                  <!-- <li><a href="">Download Files （文件下载）</a></li> -->
                  <li><a href="/#mu-latest-courses">Latest Course（课程）</a></li>
                  <!-- <li><a href="">Academic News（学院新闻）</a></li>     -->              
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Latest Activity<br>(最新线下/线上活动)</h4>
                <ul>
                <li><a href="/post/all">X-Plan计划</a></li>
                <li><a href="">12月6日,7:30pm,与杭州大学生联盟联合举办英语口语沙拉活动！</a></li>
                </ul>
                         
              </div>
            </div>

            {{!--<div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>News letter（最新信息）</h4>
                <p>Get latest update, news & academic offers</p>
                <form class="mu-subscribe-form" method="/courses/email">
                  <input type="email" placeholder="Type your Email">
                  <input type="submit" class="submit" value="Sumbit" style="visibility:hidden;">
                  <button class="mu-subscribe-btn" type="submit">Subscribe!</button>
                  <script>
                    (function(){
                      var submit = document.getElementsByClassName('mu-subscribe-btn')[0],
                          rsubmit = document.getElementsByClassName('submit')[0];
                      submit.onclick = function(){
                        rsubmit.click();
                      }
                    }());

                  </script>
                  
                </form>               
              </div>
            </div>--}}
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Contact<br>(联系)</h4>
                <address>
                  <!--<p>Phone: 152-575-89314 </p>-->
                  <ul>
                  <li><a>QQ Group（QQ群）: 96928070</a></li>
                  <li><a>Wechat（咨询服务微信号）: SteveJobs_</a></li>
                  <li><a href="mailto:service@trver.com">Email: service@trver.com</a></li>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer top -->
    <!-- start footer bottom -->
    <div class="mu-footer-bottom">
      <div class="container">
        <div class="mu-footer-bottom-area">
          <p>&copy; All Right Reserved. <br>TRVER: LEARN ENGLISH LIKE TRAVELLING TO WESTERN COUNTRIES</p>
        </div>
      </div>
    </div>
    <!-- end footer bottom -->
  </footer>
  <!-- End footer -->