    <div class="panel panel-left panel-reveal leftSlide">
        <div class="content-block" style="color:#000;">
            <p><a href="/" class="close-panel"><span class="icon icon-clock"></span> Latest Topic</a></p>
            <p>
                {{#if user}}
                <a href="/user/profile/{{user._id}}" external class="close-panel">
                <span class="icon icon-edit"></span> 
                My Posts
                </a>
                {{else}}
                <a href="/user/login" class="close-panel">
                <span class="icon icon-edit"></span> 
                My Posts</span>
                </a>          
                {{/if}}                
            </p>
            <p>
                <a href="/group/groups" class="close-panel">
                <span class="icon icon-friends"></span>
                Groups
                </a>                
            </p>            
            <p>
                <a href="/group/single/57f1d92adbc39b1ba96948ea" class="close-panel">
                <span class="icon icon-message"></span>
                Q&A(问答)
                </a>                
            </p>

            <p><a href="/service" external>Service Provided</a></p>
            <p><a href="/rules" external>Project Rules</a></p>
            <p>
                <a href="/vip/files" class="close-panel">
                   语言学习素材
                </a>                
            </p>

            <p class="download" style="position:relative;bottom:0;"><a href='/file/download?name=trver.apk' external>Android Client</a></p>
            
        </div>
    </div>