            <nav class="bar bar-tab">
                <a class="tab-item external active" href="/">
                    <span class="icon icon-home"></span>
                </a>
                <a class="tab-item external" href="/group/groups">
                    <span class="icon icon icon-friends"></span>
                </a>

                {{#if user}}
                <a class="tab-item external" href="/user/profile/{{user._id}}">
                {{else}}
                <a class="tab-item external" href="/user/login">       
                {{/if}}  
                    <span class="icon icon-settings"></span>
                </a>
            </nav>