                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#" ><img src="/img/desktop/courses/1.jpg"  alt="img" style="height:230px"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">青少儿套餐</a>
                      <span><i class="fa fa-clock-o"></i>1年</span>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="/courses/t2a">生活情境β课程: 外教真人情境课程</a></h4>
                    <p>青少儿生活情境课程 是为那些不能审核通过 生活情境α课程 要求的家庭，在本课程，家庭可以随时在周末或任何一天有空的时候叫上外教，外教会提前设计好情境课程，以快乐的方式学好口语..</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="/courses/t2a">生活情境β课程 详情</a>
                      <span class="mu-course-price" href="#">￥4999</span>
                    </div>
                  </div>
                </div>