                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#" ><img src="/img/desktop/courses/1.jpg"  alt="img" style="height:230px"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">青少儿套餐</a>
                      <span><i class="fa fa-clock-o"></i>1年</span>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="/courses/t2h">生活情境α课程: 外教真人情境课程</a></h4>
                    <p>带个外教回家，新增一个家庭成员，让孩子好奇主动学习，在生活中不知不觉说出一口流利的英语口语.每天保证和外教愉快主动地学习1年，效果远是传统口语培训机构所不能相比..</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="/courses/t2h">生活情境α课程 详情</a>
                      <span class="mu-course-price" href="#">￥4999</span>
                    </div>
                  </div>
                </div>