<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
<style>
  video{
    width:100%;
    
  }
</style>
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back"> 
                <span class="icon icon-left"></span>
                BACK
              </a>
             {{#if user}}
                {{#if user.vip}}
                  <a class="button button-link button-nav pull-right" external href="javascript:void(0)">
                    VIP
                  </a>
                {{else}}
                  <a class="button button-link button-nav pull-right" external href="/service">
                   成为VIP
                  </a>
                {{/if}} 

              {{else}}
                   <a class="button button-link button-nav pull-right" external href="/service">
                   成为VIP
                  </a>             
              {{/if}}  
							<h1 class='title'>在线视频库</h1>
            </header>            

            <!-- 工具栏 -->
           {{> general/tabs}}

            <!-- 这里是页面内容区 -->
            <div class="content content-padded">
           
              <div class="content-block">
                <h2>视频列表</h2> </br>
								
										<script src="/flv.js/dist/flv.min.js"></script>
										<video id="videoElement" controls></video>
										<script>
												if (flvjs.isSupported()) {
														var videoElement = document.getElementById('videoElement');
														var flvPlayer = flvjs.createPlayer({
																type: 'flv',
																//url: 'http://tpic.home.news.cn/xhVideo/xhvedio001/M00/10/05/wKhMDFhzKHEEAAAAAAAAAAAAAAA523.flv'
														    url: 'http://tpic.home.news.cn/xhVideo/xhvedio003/M00/0B/54/wKhMElh6GZEEAAAAAAAAAAAAAAA754.flv'
                            });
														flvPlayer.attachMediaElement(videoElement);
														flvPlayer.load();
														flvPlayer.play();
												}
										</script>                
								
              </div>


            </div><!--.page-->

        <!--其他的单个page内联页（如果有）-->
        <!--<div class="page">...</div>-->
    </div>

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    {{> general/slide}}