<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
    <link rel="stylesheet" href="">
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 标题栏 -->

            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back">
                <span class="icon icon-left"></span>
                BACK
              </a>
              <h1 class='title'>Groups</h1>
            </header> 



            <!-- 这里是页面内容区 -->
            <div class="content">
                    
                <form class="list-block" enctype="multipart/form-data" action="/group/newGroupPost" method="POST">
                    <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">小组名</div>
                            <div class="item-input">
                            <input type="text" name="title" placeholder="不少于2字"/>
                            </div>
                        </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">上传Logo</div>
                            <div class="item-input">
                            <input type="file" required accept="image/*" id="fieldPhoto" name="photo">
                            </div>
                        </div>
                        </div>
                    </li>


                    <li>
                        <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-gender"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">分类</div>
                            <div class="item-input">
                                <select name="category">
                                    <option selected>书籍</option>
                                    <option>问答</option>
                                    <option>兴趣爱好</option>
                                    <option>售后</option>
                                </select>
                            </div>
                        </div>
                        </div>
                    </li>


                    <!-- Switch (Checkbox) -->
                    <li>
                        <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">Private</div>
                            <div class="item-input">
                            <label class="label-switch">
                                <input type="checkbox" name="private">
                                <div class="checkbox"></div>
                            </label>
                            </div>
                        </div>
                        </div>
                    </li>
                    <li class="align-top">
                        <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-comment"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">文本域</div>
                            <div class="item-input">
                            <textarea style="min-height:5em;" name="intro"></textarea>
                            </div>
                        </div>
                        </div>
                    </li>

                    <li class="align-top" style="visibility: hidden;">
                        <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-comment"></i></div>
                        <div class="item-inner">
                            <div class="item-input">
                             <input type="submit" name="submit" id="submit">
                            </div>
                        </div>
                        </div>
                    </li>


                    </ul>
                </form>
                <div class="content-block">
                    <div class="row">
                    <div class="col-50"><a href="/group/groups" class="button button-big button-fill button-danger">取消</a></div>
                    <div class="col-50">
                        <a href="#" class="button button-big button-fill button-success" id="fake-submit">提交</a>
                    </div>
                    </div>
                </div>      
                <script>
                    (function(){
                        var fake_submit = document.getElementById('fake-submit');
                        var submit = document.getElementById('submit');
                        fake_submit.onclick = function(e){
                            e.preventDefault();
                            submit.click();
                        };
                    }());
                </script>

      </div><!--.page-->

        <!--其他的单个page内联页（如果有）-->
        <div class="page">...</div>
    </div>

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    {{> general/slide}}


    {{#extend "js"}}

    {{/extend}}