<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}

    <link rel="stylesheet" href="">
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back">
                <span class="icon icon-left"></span>
                BACK
              </a>
              <h1 class='title'>注册</h1>
            </header>            


            <!-- 这里是页面内容区 -->
            <div class="content">
                <form class="list-block" method="POST" action="/user/postSignup">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">

                    <ul>
                        <li>
                            <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">用户名</div>
                                <div class="item-input">
                                <input type="text" name="username" placeholder="您的用户名"/>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Email</div>
                                <div class="item-input">
                                <input type="email" name="email" placeholder="您的邮箱"/>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">密码</div>
                                <div class="item-input">
                                <input type="password" name="password" placeholder="您的密码"/>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">确认密码</div>
                                <div class="item-input">
                                <input type="password" name="confirmPassword" placeholder="确认密码">
                                </div>
                            </div>
                            </div>
                        </li>                       
                    </ul>

                    <input type="submit" value="submit" id="submit">
                </form>
                <div class="content-block">
                    <div class="row">
                        <div class="col-50"><a href="/user/login" class="button button-big button-fill button-info">登录</a></div>
                        <div class="col-50">
                            <a href="#" class="button button-big button-fill button-success" id="fake-submit">提交</a>
                        </div>
                    </div>
                </div> 
                    <script>
                        (function(){
                            var fake_submit = document.getElementById('fake-submit');
                            var submit = document.getElementById('submit');
                            fake_submit.onclick = function(e){
                                e.preventDefault();
                                submit.click();
                            };
                        }());
                    </script>
                    <!--<hr>
                    <p>Need an account? <a href="/user/signup">signup</a></p>
                    <p>Or go <a href="/user/forgotPassword">Forget your Password</a>.</p>          -->
            </div>


        </div><!--.page-->

        <!--其他的单个page内联页（如果有）-->
        <!--<div class="page">...</div>-->
    </div>

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    {{> general/slide}}

    {{#extend "js"}}

    {{/extend}}



<!--<h1>LOGIN</h1>
<h3><a href="/auth/google">Sign In with Google</a></h3>
<h3><a href="/auth/github">Sign In with Github</a></h3>-->
