<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
    <link rel="stylesheet" href="">
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 标题栏 -->
            <header class="bar bar-nav" style="background-color:#eeeeee">
                <a class="icon icon-me pull-left open-panel"></a>
                <h1 class="title">标题</h1>
            </header>

            <!-- 工具栏 -->
           {{> general/tabs}}

            <!-- 这里是页面内容区 -->
            <div class="content">
           
              <div class="content-block">
               {{> general/secNav}}    

                     <div class="tip fullBlock">
                         <p>欢迎报名X-Plan计划 <a>&nbsp <span class="icon icon-right"></span></a></p>
                     </div>

                  <div class="list-block fullBlock plainList">
                    <ul>
                      <li class="item-content">
                        <div class="item-inner">
                          <div class="item-title" style="font-size:0.5em;"><a href="">thisis jack which isa boy</a></div>
                          <div class="item-after"></div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-inner">
                          <div class="item-title" style="font-size:0.5em;"><a href="">this frank which isa boy</a></div>
                          <div class="item-after"></div>
                        </div>
                      </li>

                    </ul>
                  </div>

                 <div class="content-block-title minPost">小组热帖</div>
                 {{> groups/post}}

                 <div class="content-block-title minPost">热门问答</div>
                 {{> groups/post}}
                      
              </div>


            </div><!--.page-->

        <!--其他的单个page内联页（如果有）-->
        <div class="page">...</div>
    </div>

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    {{> general/slide}}