<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
<style>
  .popup-x>p,.popup-b>p{
      text-align:center;
  }
  .popup-x>p .icon,.popup-b>p .icon{
      font-size:1rem;
  }    
  .content-padded ul li:before{
          content: ">> ";
          color:orange;

      }
</style>

{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->

        <div class="page page-current showOne">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back"> <!--get rid of back class-->
                <span class="icon icon-left"></span>
              </a>
              
              <h1 class='title'>Follow the Rules</h1>
            </header>            


           {{> general/tabs}}
           
            <div class="content">
                <div class="list-block media-list">
                    
                    <ul>
                    <li>
                        <a href="#" class="item-link item-content open-x" data-popup=".popup-x">
                        <div class="item-inner">
                            <div class="item-title-row">
                            <div class="item-title">X-Plan</div>
                            <div class="item-after">Rules</div>
                            </div>
                            <div class="item-subtitle">英语口语</div>
                            <div class="item-text">坚持每年英语口语聚会24-48次...</div>
                        </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="item-link item-content open-b" data-popup=".popup-b">
                        <div class="item-inner">
                            <div class="item-title-row">
                            <div class="item-title">B-Plan</div>
                            <div class="item-after">Rules</div>
                            </div>
                            <div class="item-subtitle">48本欧美书籍</div>
                            <div class="item-text">坚持每年看48本中文书籍...</div>
                        </div>
                        </a>
                    </li>
                    </ul>
                </div>               

            </div><!--.content-->

        </div><!--.page-->



            <!-- About Popup -->
            <div class="popup popup-x">
                <p><a href="#" class="close-popup"><span class="icon icon-down"></span></a></p>
                <div class="buttons-tab">
                    <a href="#tab1" class="tab-link active button">口语聚会</a>
                    <a href="#tab2" class="tab-link button">电影模仿</a>
                    <a href="#tab3" class="tab-link button">英文书籍</a>
                  
                </div>
                <div class="content-block">
                    <div class="tabs">
                    <div id="tab1" class="tab active content-padded">
                        <div class="content-block">
                         <ul>
                             <li>Attend the meetup for at least 2 times a month</li>
                             <li>Each at least 10 minutes speaking during the meetup.</li>
                             <li>Fill the form that tells us the suggestions or problems about the project</li>
                         </ul>
                        </div>
                    </div>
                    <div id="tab2" class="tab content-padded">
                        <div class="content-block">
                        <p>First week</p>
                         <ul>
                             <li>Learn the whole movie about its words,phrases or sentences, after which make a note at trver.com about words and phrases(>500 words) and share it in your wechat</li>
                             <li>Listen to the audio file provided for at least 20 times</li>
                         </ul>
                        <p>Second week</p>
                         <ul>
                             <li>Imitate the movie clips required.Two to Four a group.Send the audio file to the 口语沙拉官方微信群</li>
                             <li>Make a note at trver.com about your experience or lessons in the two weeks to help others who'll learn and imitate the movie(>500 words)</li>
                         </ul>                         
                        </div>
                    </div>
                    <div id="tab3" class="tab content-padded">
                        <div class="content-block content-padded">
                         <ul>
                             <li>We'll send two books for you. Make a note of one book a week(>500 words) and share it in your wechat by the end of a week</li>
                             <li>Send them back and we need to get it in our hands by the end of the two weeks</li>
                             
                         </ul> 
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Services Popup -->
            <div class="popup popup-b" >
                <p><a href="#" class="close-popup"><span class="icon icon-down"></span></a></p>
                <div class="buttons-tab">
                    <a href="#tab4" class="tab-link active button">欧美书籍计划</a>
                    <a href="#tab5" class="tab-link button">规则</a>
                    <!--<a href="#tab3" class="tab-link button"></a>-->
                </div>
                <div class="content-block">
                    <div class="tabs">
                    <div id="tab4" class="tab active content-padded">
                        <div class="content-block">
                            <p>B-Plan阅读计划 由Books' Salad举办， 学制一年，中文书籍48本；书籍由官方推荐，以欧美书籍为主题，开阔思维为宗旨，涉及全面，包括经济，历史，哲学，互联网，科技，西方最新经济趋势等，通过有趣的方式，坚持看书，交一定契约金，并在学员每月成功坚持下来的情况下，返回契约金并得到累积现金奖励的方式，增加看书的兴趣与动力</p>
                        </div>
                    </div>
                    <div id="tab5" class="tab content-padded">
                        <div class="content-block">
                         <ul>
                             <li>We'll send two books every two weeks for you. Make a note of one book(>500 words) every week and share it in your wechat by the end of a week</li>
                             <li>Send them back and we need to get it in our hands by the end of the two weeks</li>
                         </ul> 
                        </div>
                    </div>
                    <!--<div id="tab3" class="tab content-padded">
                        <div class="content-block">
                        <p></p>
                        </div>
                    </div>-->
                    </div>
                </div>
            </div>
            <!--end popup-->



    </div><!--page group-->

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->


    {{#extend 'js'}}
    
      <script>
        $(document).on('click','.open-x', function () {
         $.popup('.popup-x');
        });

        $(document).on('click','.open-b', function () {
         $.popup('.popup-b');
        });
      </script>
      
    {{/extend}}


    
                                   

