<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->

        <div class="page page-current showOne">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back"> <!--get rid of back class-->
                <span class="icon icon-left"></span>
              </a>
               <a class="pull-right" href=""><span class="icon icon-"></span></a>
              <h1 class='title'>Service Provided</h1>
            </header>            


           {{> general/tabs}}
           
            <div class="content">
                <div class="list-block media-list">
                    <ul>
                      <li>
                        <a href="https://weidian.com/item.html?itemID=1948899720" class="item-link item-content">
                          <div class="item-inner">
                            <div class="item-title-row">
                              <div class="item-title">X-Plan 口语计划</div>
                              <div class="item-after">年计划(线上)</div>
                            </div>
                            <div class="item-subtitle">￥0</div>
                            <div class="item-text">
                              让中国人摆脱哑巴英语！ 学制8个月， 前7月沉淀学习，第8月现实应用：和Native Speakers（外教）线下户外学习， 口语聚会16次，8部视频，16部音频学习等；有趣的方式，坚持学习英语口语（听说），交一定契约金并坚持成功，返回全部契约金并得到累积现金奖励的方...</div>
                          </div>
                        </a>
                      </li>


                      <!--<li>
                        <a href="https://weidian.com/?userid=213229714" class="item-link item-content">
                          <div class="item-inner">
                            <div class="item-title-row">
                              <div class="item-title">X-Plan Mini</div>
                              <div class="item-after">Mini套餐(线上)</div>
                            </div>
                            <div class="item-subtitle">￥100</div>
                            <div class="item-text">适合忙碌的同学，每月3-4次远程口语聚会,不定期邀请老外到现场</div>
                          </div>
                        </a>
                      </li>-->


                      <li>
                        <a href="http://mp.weixin.qq.com/s?__biz=MzI1OTQ1OTUxNA==&mid=2247483665&idx=1&sn=c92e15d0aa1bbbf837fe50372f38840e&chksm=ea79d1c4dd0e58d298ddb45cbef554d6043ba2565b898eba1ecf180805ffa904c2d2bdc8c202#rd" class="item-link item-content">
                          <div class="item-inner">
                            <div class="item-title-row">
                              <div class="item-title">B-Plan 欧美书籍计划</div>
                              <div class="item-after">年计划</div>
                            </div>
                            <div class="item-subtitle">￥0</div>
                            <div class="item-text">中文书籍48本；以欧美书籍为主题，开阔思维为宗旨，涉及全面...</div>
                          </div>
                        </a>
                      </li>


                    </ul>
               </div>           
            </div>

            </div><!--.page-->





    </div><!--page group-->

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->


    {{#extend 'js'}}
    
      <!--<script>
        $(document).on('click','.open-form', function () {
         $.popup('.popup-form');
        });
      </script>-->
      
    {{/extend}}


    
                                   

