.showOne{
    .content-padded{
        h2{
            margin-top:0;
            margin-bottom:0;
            line-height:1.3rem;
            margin-bottom:0.5rem;
            font-size:1rem;
        }
        @import 'modules/_logo';
        div.postImg{
            width:100%;
            height:8em;
            margin:1em 0;
            &>img{
                display:inline-block;
                width:100%;
                height:100%;
            }
        }
        p.contentArea{
            margin-bottom:0;
            line-height:1rem;
            font-weight:normal;
            margin-top:0.3rem;
            max-width:100%;
            @include break();
            
        }
        p.postTags{
            padding:0;
            margin:0;
            text-align:right;
            &>span{
                display:inline-block;
                border:1px solid grey;
                font-size:0.3rem;
                padding:0.05rem 0.05rem;
            }
        }
        p.copy{
            color:grey;
            font-size:0.5rem
        }
        p.commentTop{
            font-size:0.7rem;
            border-top:1px solid #e2e2e2;
            color:grey;
            text-align:center;
            padding-top:0.5rem;
        }
        @import 'modules/_comment';

    }
}