<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
<style>
  iframe{
    width:100%;
    height:400px;
  }
  object{
    margin:0 auto;
  }
</style>
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back"> 
                <span class="icon icon-left"></span>
                BACK
              </a>
             {{#if user}}
                {{#if user.vip}}
                  <a class="button button-link button-nav pull-right" external href="javascript:void(0)">
                    VIP
                  </a>
                {{else}}
                  <a class="button button-link button-nav pull-right" external href="/service">
                   成为VIP
                  </a>
                {{/if}} 

              {{else}}
                   <a class="button button-link button-nav pull-right" external href="/service">
                   成为VIP
                  </a>             
              {{/if}}  
							<h1 class='title'>在线视频库</h1>
            </header>            

            <!-- 工具栏 -->
           {{> general/tabs}}

            <!-- 这里是页面内容区 -->
            <div class="content content-padded">
           
              <div class="content-block">
                <h2>视频列表</h2> </br>
								
										{{!--<script src="/flv.js/dist/flv.min.js"></script>
										<video id="videoElement" controls></video>
										<script>
												if (flvjs.isSupported()) {
														var videoElement = document.getElementById('videoElement');
														var flvPlayer = flvjs.createPlayer({
																type: 'flv',
																//url: 'http://tpic.home.news.cn/xhVideo/xhvedio001/M00/10/05/wKhMDFhzKHEEAAAAAAAAAAAAAAA523.flv'
														    url: 'http://183.131.64.222/xdispatch/tpic.home.news.cn/xhVideo/xhvedio003/M00/0B/54/wKhMElh6GZEEAAAAAAAAAAAAAAA754.flv'
                            });
														flvPlayer.attachMediaElement(videoElement);
														flvPlayer.load();
														flvPlayer.play();
												}
										</script>  --}}
{{!--<h2>Introduction Part 1</h2>--}}
{{!--<iframe src="http://www.tudou.com/programs/view/html5embed.action?type=0&code=s39kI6tyNu0&lcode=&resourceId=47643583_06_05_99" allowtransparency="true" allowfullscreen="true" allowfullscreenInteractive="true" scrolling="no" border="0" frameborder="0"></iframe>--}}

<h2>Train Part 01</h2>
</br>
{{!--<iframe src="http://tpic.home.news.cn/xhVideo/xhvedio003/M00/0B/53/wKhMEVhRaL0EAAAAAAAAAAAAAAA645.flv&autoPlay=false&width=506&height=453" allowtransparency="true" allowfullscreen="true" allowfullscreenInteractive="true" scrolling="no" border="0" frameborder="0"></iframe>--}}
<p>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0">
<param name=movie value="*.swf">
<param name=quality value=High>
<param name="_cx" value="12383">
<param name="_cy" value="1588">
<param name="FlashVars" value>
<param name="Src" ref value="*.swf">
<param name="WMode" value="Window">
<param name="Play" value="-1">
<param name="Loop" value="-1">
<param name="SAlign" value>
<param name="Menu" value="-1">
<param name="Base" value>
<param name="AllowScriptAccess" value="always">
<param name="Scale" value="ShowAll">
<param name="DeviceFont" value="0">
<param name="EmbedMovie" value="0">
<param name="BGColor" value>
<param name="SWRemote" value>
<param name="MovieData" value>
<embed src="http://misc.home.news.cn/video/swf/VideoDisplay.swf?videoSource=http://tpic.home.news.cn/xhVideo/xhvedio002/M00/0D/AF/wKhMEFioHBkEAAAAAAAAAAAAAAA109.flv&autoPlay=false&width=506&height=400" quality=high pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="506" height="400px">
</embed>
</object>
</p>

<br>
<br>

<h2>Train Part 02</h2>
</br>
  {{#if user}}
    {{#if user.vip}}
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0">
      <param name=movie value="*.swf">
      <param name=quality value=High>
      <param name="_cx" value="12383">
      <param name="_cy" value="1588">
      <param name="FlashVars" value>
      <param name="Src" ref value="*.swf">
      <param name="WMode" value="Window">
      <param name="Play" value="-1">
      <param name="Loop" value="-1">
      <param name="SAlign" value>
      <param name="Menu" value="-1">
      <param name="Base" value>
      <param name="AllowScriptAccess" value="always">
      <param name="Scale" value="ShowAll">
      <param name="DeviceFont" value="0">
      <param name="EmbedMovie" value="0">
      <param name="BGColor" value>
      <param name="SWRemote" value>
      <param name="MovieData" value>
      <embed src="http://misc.home.news.cn/video/swf/VideoDisplay.swf?videoSource=http://tpic.home.news.cn/xhVideo/xhvedio002/M00/0D/B1/wKhMD1ioIBIEAAAAAAAAAAAAAAA495.flv&autoPlay=false&width=506&height=400" quality=high pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="506" height="400px">
      </embed>
      </object>
    {{else}}
      
      <p style="font-weight:bold;font-size:0.7rem;border:1px dashed #e3e3e3;padding:10px 10px">【VIP可见】成为VIP，支持我们的公益活动 <a href="/service">加入VIP</a></p>
    {{/if}}

  {{else}}
      <p style="font-weight:bold;font-size:0.7rem;border:1px dashed #e3e3e3;padding:10px 10px"><a href="/user/login">请登录观看</a></p>

  {{/if}}

  




							
              </div>


            </div><!--.page-->

        <!--其他的单个page内联页（如果有）-->
        <!--<div class="page">...</div>-->
    </div>

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    {{> general/slide}}