.groupArticles{
    .tabContent{
        padding-left:1rem;
        padding-right:1rem;
        max-width:100%;
        @include break();

    }
    .content-block{
        margin-bottom:0!important;

        p.manageGroupP{
            //margin-top:5rem;
            //text-align:right;
            position:absolute;
            bottom:0;
            right:0;
        }
    }
}