
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>课程详情</h2>
           <ol class="breadcrumb">
            <li><a href="/">Home</a></li>            
            <li class="active">Course Detail</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-course-details">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mu-latest-course-single">
                        <figure class="mu-latest-course-img">
                          <a href="#"><img src="/img/desktop/courses/2.jpg" alt="img" style="height:300px;"></a>
                          <figcaption class="mu-latest-course-imgcaption">
                            <a href="#">成人套餐</a>
                            <span><i class="fa fa-clock-o"></i>1 年</span>
                          </figcaption>
                        </figure>
                        <div class="mu-latest-course-single-content">
                          <h2><a href="#">Speak Daily: 外教随时听候您的召唤</a></h2>
                          <h4 style="color: #01bafd;">课程信息</h4>
                          <ul>
                            <li> <span>课程价格</span> <span>￥2999</span></li>
                            <li> <span>开通城市</span> <span>杭州</span></li>
                            <li> <span>学生人数</span> <span>1对1</span></li>
                            <li> <span>课程持续</span> <span>1年</span></li>
                            <li> <span>课程开设</span> <span>预约</span></li>
                          </ul>
                          <h4 style="color: #01bafd;">介绍</h4>
                          <p>不需要再去学习枯燥的传统外语培训课程了，学英语最好的方式是在游玩的过程中潜移默化地学习，外教随时随地等待您的召唤，陪玩，过生日，购物，you name it!.</p>
                          <p>Speak Daily Program 是为那些工作繁忙的白领和企业家人群，可以随时在周末或任何一天有空的时候带上外教，一起去旅行，游玩，爬山等，由我们的外教按照我们的教材来设定场景，或者自己设定一个自己喜爱的场景，从而在生活场景中无不不觉地学习英语口语，最终达到掌握口语的程度！我们相信，只要您能每周一次带外教出去，您的口语在一年内回答到您想不到的程度，我们拭目以待！</p>
                          <blockquote>
                           
                           <a href=""http://www.alljapaneseallthetime.com/blog/><cite>Khatzumoto</cite></a>
                            <p>You don’t know a language, you live it. You don’t learn a language, you get used to it. 语言不是用来学得，是用来在生活中使用的！</p>
                            <p>Learning grammar in order to use a language is like learning organic chemistry in order to make a sandwich.学习语法单词来学习一门语言，就如你做三明治前先要学习下生物学一样！</p>
                            <p></p>
                          </blockquote>
                          <p>就如Khatzumoto教育家所说，语言不是语法，不是单词，而是活生生的生活，只有在生活中学习才能真真领会到语言的精髓。学好一口流利的口语，您不需要去口语培训班，不需要去华尔街英语等口语培机构，需要的只是怎样在家里，在生活中精心安排一个全英文生活环境！</p>
                          <br>

                          <h4 style="color: #01bafd;">课程概括</h4>
                          <div class="table-responsive">
                            <table class="table">
                            <thead>
                              <tr>
                                <th> 标题 </th>
                                <th> 课程时间 </th>
                                <th> 平均花费 </th>
                                <th> 特色 </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td> 外教真人情景计划 </td>
                                <td> 平均 1-2次/周 </td>
                                <td> 本课程需要给外教小费，我们建议家庭每次另给外教￥50-200/时奖励费用 </td>
                                <td> 让孩子和家庭在生活情境中学习英语 </td>
                              </tr>
                            </tbody>
                          </table>
                          </div>


                          <h4 style="color: #01bafd;">SpeakDaily Program 申请</h4>
                          <p>我们的SpeakDaily Program课程，对于中国家庭安全非常重视，申请要求如下:</p>
                          <ul>
                            <li>1, 为避免无效申请，我们要求先付款后，我们在受理申请</li>
                            <li>2, 申请清单: 1，身份证 2，房产证证明或现租房合同</li>
                            <li>3, 请把如上清单拍照上传官网</li>
                            <!--<li></li>-->
                          </ul>
                          <a href="" style="display:block;padding:0.5rem;max-width:8rem;border:1px solid orange;background-color:transparent;">付款审核</a>
                        </div>
                      </div> 
                    </div>                                   
                  </div>
                </div>
                <!-- end course content container -->
                <!-- start related course item -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="mu-related-item">
                  <h3>相关课程</h3>
                  <div class="mu-related-item-area">
                    <div id="mu-related-item-slide">
                      <div class="col-md-6 col-sm-12">
                        {{> desktop/courses/t2h}}
                        
                      </div>
                      <div class="col-md-6">
                        {{> desktop/courses/t2a}}
                      </div>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
                <!-- end start related course item -->
              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">

                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Popular Course</h3>
                    <div class="mu-sidebar-popular-courses">
                     {{> desktop/shares/sidebarA}}
                     {{> desktop/shares/sidebarB}}
                      </div>
                    </div>
                 


                   <div class="mu-single-sidebar">
                    <h3>Activity[活动]</h3>
                      <div class="mu-sidebar-popular-courses">
                         {{> desktop/shares/sidebarX}}

                      </div>
                  </div> 

                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
<!--                   <div class="mu-single-sidebar">
                    <h3>Archives</h3>
                    <ul class="mu-sidebar-catg mu-sidebar-archives">
                      <li><a href="#">May <span>(25)</span></a></li>
                      <li><a href="">June <span>(35)</span></a></li>
                      <li><a href="">July <span>(20)</span></a></li>
                      <li><a href="">August <span>(125)</span></a></li>
                      <li><a href="">September <span>(45)</span></a></li>
                      <li><a href="">October <span>(85)</span></a></li>
                    </ul>
                  </div> -->
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Tags Cloud</h3>
                    <div class="tag-cloud">
                      <a href="/courses/t2h">外教带回家</a>
                      <a href="/courses/t2h">T2H</a>
                      <a href="/activities">活动: X-Plan</a>
                      <a href="/courses/speakdaily">SpeakDaily</a>
<!--                       <a href="#">Web Design</a>
                      <a href="#">Admission</a>
                      <a href="#">History</a>
                      <a href="#">Environment</a> -->
                    </div>
                  </div>
                  <!-- end single sidebar -->
                </aside>
                <!-- / end sidebar -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>