
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>课程详情</h2>
           <ol class="breadcrumb">
            <li><a href="/">Home</a></li>            
            <li class="active">Course Detail</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-course-details">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mu-latest-course-single">
                        <figure class="mu-latest-course-img">
                          <a href="#"><img src="/img/desktop/courses/1.jpg" alt="img" style="height:300px;"></a>
                          <figcaption class="mu-latest-course-imgcaption">
                            <a href="#">青少儿套餐</a>
                            <span><i class="fa fa-clock-o"></i>1 年</span>
                          </figcaption>
                        </figure>
                        <div class="mu-latest-course-single-content">
                          <h2><a href="#">生活情境课程-β: 外教真人情境课程</a></h2>
                          <h4 style="color: #01bafd;">课程信息</h4>
                          <ul>
                            <li> <span>课程价格</span> <span>￥2999</span></li>
                            <li> <span>开通城市</span> <span>杭州</span></li>
                            <li> <span>学生人数</span> <span>1对1</span></li>
                            <li> <span>课程持续</span> <span>1年</span></li>
                            <li> <span>课程开设</span> <span>审核预约</span></li>
                          </ul>
                          <h4 style="color: #01bafd;">介绍</h4>
                          <p>不需要再去学习枯燥的青少儿传统课程了；科学及观察证明，青少儿学习英语等二外语言是人生最佳时机，为什么不去学习更有效的外教情境模式呢？！孩子天性爱玩，那就顺应规律，让孩子在游玩的过程中潜移默化地练就一门熟练的二外，我们的课程引进欧美本地教材，外教每节课都会亲自按照教材设计生活情境，其设计原则是以好玩为目的，让小孩不知不觉在玩的过程中学好一门第二语言!</p>
                          <p>青少儿生活情境课程 是为那些不能审核通过 T2H（带个外教回家）要求的家庭，在本课程，家庭可以随时在周末或任何一天有空的时候叫上外教，外教会提前设计好情境课程，以快乐的方式学好口语！</p>
                          <blockquote>
                           
                           <a href="http://www.alljapaneseallthetime.com/blog/"><cite>Khatzumoto</cite></a>
                            <p>You don’t know a language, you live it. You don’t learn a language, you get used to it. 语言不是用来学得，是用来在生活中使用的！</p>
                            <p>Learning grammar in order to use a language is like learning organic chemistry in order to make a sandwich.学习语法单词来学习一门语言，就如你做三明治前先要学习下生物学一样！</p>
                            <p></p>
                          </blockquote>
                          <p>就如Khatzumoto教育家所说，语言不是语法，不是单词，而是活生生的生活，只有在生活中学习才能真真领会到语言的精髓。学好一口流利的口语，您不需要去口语培训班，不需要去少儿英语等口语培训机构，需要的只是怎样在家里，在生活情境中精心安排一个全英文生活和学习环境！</p>
                          <br>

                          <h4 style="color: #01bafd;" >教材</h4>
                          <p>我们是一家特立独行的外语口语教育培训机构，提倡培养兴趣爱好，以玩的方式去学习英语，教材也会与众不同。我们不会以常规的方式去教学！为达到更好的效果，我们使用美国的原版教材，并从单词拼写到初中级阶段，我们设置了为期1-1年半的课程，由浅入深教学。主要以口语为主，写为辅；并一切以生活场景中切入为原则教学！<br/>
                          #教材 我们会提供免费的电子版教材，如需要纸质版教材，请提前联系订购，我们会寄送到您家里！</p>

                          <br/>

                          <h4 style="color: #01bafd;">课程概括</h4>
                          <div class="table-responsive">
                            <table class="table">
                            <thead>
                              <tr>
                                <th> 标题 </th>
                                <th> 课程时间 </th>
                                <th> 平均花费 </th>
                                <th> 特色 </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td> T2A: 外教真人情境课程 </td>
                                <td> 平均 1-2次/周 </td>
                                <td> 本课程需要给外教小费，我们建议家庭每次另给外教￥50-200/时奖励费用 </td>
                                <td> 让孩子和家庭在生活情境中学习英语 </td>
                              </tr>
                            </tbody>
                          </table>
                          </div>


                          <h4 style="color: #01bafd;">SpeakDaily Program 申请</h4>
                          <p>我们的 外教真人情景 课程，对于中国家庭安全非常重视，申请要求如下:</p>
                          <ul>
                            <li>1, 为避免无效申请，我们要求先押金后，我们在受理申请，如是未审核通过，定金集中返还</li>
                            <li>2, 申请清单: 1，身份证 2，房产证证明或现租房合同</li>
                            <li>3, 请把如上清单拍照上传官网</li>
                            <!--<li></li>-->
                          </ul>
                          <a href="" style="display:block;padding:0.5rem;max-width:8rem;border:1px solid orange;background-color:transparent;">预约审核</a>
                        </div>
                      </div> 
                    </div>                                   
                  </div>
                </div>
                <!-- end course content container -->
                <!-- start related course item -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="mu-related-item">
                  <h3>相关课程</h3>
                  <div class="mu-related-item-area">
                    <div id="mu-related-item-slide">
                      <div class="col-md-6 col-sm-12">
                        {{> desktop/courses/t2h}}
                        
                      </div>
                     <div class="col-md-6">
                       {{> desktop/courses/speakDaily}}
                      </div>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
                <!-- end start related course item -->
              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">

                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Popular Course</h3>
                    <div class="mu-sidebar-popular-courses">
                        {{> desktop/shares/sidebarA}}
                        {{> desktop/shares/sidebarAdult}}
                    </div>
                  </div>


                   <div class="mu-single-sidebar">
                    <h3>Activity[活动]</h3>
                      <div class="mu-sidebar-popular-courses">
                        {{> desktop/shares/sidebarX}}

                      </div>
                  </div> 

                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
<!--                   <div class="mu-single-sidebar">
                    <h3>Archives</h3>
                    <ul class="mu-sidebar-catg mu-sidebar-archives">
                      <li><a href="#">May <span>(25)</span></a></li>
                      <li><a href="">June <span>(35)</span></a></li>
                      <li><a href="">July <span>(20)</span></a></li>
                      <li><a href="">August <span>(125)</span></a></li>
                      <li><a href="">September <span>(45)</span></a></li>
                      <li><a href="">October <span>(85)</span></a></li>
                    </ul>
                  </div> -->
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Tags Cloud</h3>
                    <div class="tag-cloud">
                      <a href="/courses/t2h">外教带回家</a>
                      <a href="/courses/t2h">T2H</a>
                      <a href="/activities">活动: X-Plan</a>
                      <a href="/courses/speakdaily">SpeakDaily</a>
<!--                       <a href="#">Web Design</a>
                      <a href="#">Admission</a>
                      <a href="#">History</a>
                      <a href="#">Environment</a> -->
                    </div>
                  </div>
                  <!-- end single sidebar -->
                </aside>
                <!-- / end sidebar -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>