<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
<style>
  pre{
  }
</style>
{{/extend}}

   <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left back"> 
                <span class="icon icon-left"></span>
                BACK
              </a>
             {{#if user}}
                {{#if user.vip}}
                  <a class="button button-link button-nav pull-right" external href="javascript:void(0)">
                    VIP
                  </a>
                {{else}}
                  <a class="button button-link button-nav pull-right" external href="/service">
                   成为VIP
                  </a>
                {{/if}} 

              {{else}}
                   <a class="button button-link button-nav pull-right" external href="/service">
                   成为VIP
                  </a>             
              {{/if}}  
              <h1 class='title'>#01 西方文化礼仪</h1>
            </header>            

            <!-- 工具栏 -->
           {{> general/tabs}}



            <!-- 这里是页面内容区 -->
            <div class="content content-padded">
           
              <div class="content-block">
                <!--<h2>官方音频文本参考翻译 第二周末本文更新发布！</h2> -->
                <p style="margin-top:0;margin-bottom:1rem;padding-top:0;color:grey;font-size:0.6rem;">作者: Frank Lee  &nbsp 校对: Frankcis Arsena</p>
               <ul>
                 <li>
                  {{#if user}}
                    {{#if user.vip}}
<pre>
　　在欧美国家见面打招呼是很自然的，即使是不认识。打招呼的目的，并不是为了要跟你有进一步的交往，只是一种生活礼仪形式。其实不论任何人，面对有人微笑打招呼，都会受到感染，像是见到阳光心情跟着好起来一样，很自然会打招呼响应。因此，在西方国家旅游的时候，如果迎面而来的人对我们说哈啰，别露出一副莫名其妙的表情，甚至置之不理唷！那可是非常失礼的。
怎样打招呼？　　对方跟你说「How do you do ?」就是「你好」的意思，不用按着课本教的说「Fine, Thank you. And you?」，除非这是你的好朋友，或是你有比较多的时间跟他聊天，不然只要同样回答说「How do you do ?」就够了。如果怕自己英文不好听，至少微笑点个头。有时候他们会说「Hello !」，其实相当于我们的「嗨」，这是同辈或好友之间的应对方式，不适合用在对长辈或地位比较高的人。另外，他们也会问候「Good morning」，「Good afternoon」或「Good evening」，同样问候就可以了。
怎样吃饭？
　　中国人吃饭比较随兴，很可能聊到开心处，就大声说笑，或是把餐厅当作自己家一样让小孩子跑来跑去，这在西方国家是相当不得体的喔！尤其如果我们是吃西式餐厅，而不是在中国餐厅，一定要注意餐桌礼节。餐巾应该要铺放在腿上，不是别在领口上的，更不可以拿餐巾来擦桌子或餐具！使用刀叉的时候，倒没有禁忌不可以拿着叉子讲话，因为在外国，放下餐具表示你已经吃完，准备请服务生来收走了。当然啦，如果要比手画脚的时候例外，毕竟拿着刀叉挥舞还是挺不安全的！
　　享用食物的时候安静是基本的礼貌，像是喝汤、嚼食物都不应该出声音，打嗝的声音尤其会惹人白眼，万一打嗝发出了声音，应该对同桌的人说「Excuse me」表示歉意。千万不要塞得满嘴的食物，慢慢一口一口吃。发表意见时，应该等食物完全吞下去之后再讲话，不可以一边嚼一边讲话。如果有鱼刺或骨头，应该尽量先用刀叉挑出来或切除掉，再放到嘴里面，不适合嚼一嚼之后再用嘴巴吐出来，假如不得已必须要这样做，也最好悄悄地、稍微用餐巾布遮掩一下比较好喔。
西方的礼仪和我国有许多的相似之处。
　　零零总总谈了一些基本西方礼仪，其实最基本的还是爸妈平时生活教养的功夫。如果常常提醒孩子遵守礼貌规矩，让孩子懂得规范自己、尊重别人，相信在国外旅游的时候，也能很快就适应不同的礼节了！
   中国自古就是礼仪之邦，西方的礼仪和我国有许多的相似之处。在当前国际交往频繁的形式下，不论是在国内接待外宾或出国访问旅游，不论是将要留学国外或常驻国外工作都有必要学习一下西方的礼仪。 
   礼节有两个方面：其一要从内心去关心他人的需要和情感；其二要以一定的行为方式表现出来，由此人们通常可以判断我们家庭教养的状况。礼节的实质就是处处为别人着想，这也就是要实行那条金笺：你想别人怎样对待你，你就该怎样对待别人。所谓考虑他人的要点就是要使自己的衣着和举止尽可能让人喜欢。一看到衣着雅致、彬彬有礼的人，你就会觉得日常生活增添了许多乐趣。相反，看到的是衣着不整，礼节不周的人，你就会有明显的缺少什幺以及不舒服和烦恼的感觉。
中国的礼节与西方的礼节有时差别很大。
如果你想同西方人相处和谐，了解西方的礼节是非常重要的。 
   最简单的问候是说一声"早上好"、"下午好"，或"晚上好"。这种问候可以用于你不太熟悉的人或者任何与你匆匆擦肩而过的人。
   若你不很匆忙时，对不认识的人可说一声"你好"，回答你的也应该是"你好"。
   当你第一次与别人见面时，通常要握手。此外，久违的朋友相见时，通常也要握手。然而，相遇时不握手也行,微微鞠一个躬,也是很有礼貌的。
   如果谁要和你握手，你当然要同他握手--拒绝握手是非常不礼貌的。通常是由年龄大的一方或者女子先伸出手。
   你在向别人问好时，直呼别人的姓名也常常是得体的。你可以说；"早上好，蒙克里夫先生"或"你好，富兰克林"。
   有些问候在中国是合乎礼节的，而在西方却不被采用。如果你问候一个西方人说"你上哪儿去?"（Where are you going?）或说"你去哪儿啦？"（Where have you been?）他会想你在打听他的私事，实在是太失礼了。
   而如果你说："你吃过了吗？"（Have you had your dinner?），他可能会认为你想邀请他与你共同进餐。因此，和西方人相处时，你最好使用西方通常的问候方式。
   当你受到邀请时，你必须立即作复，明确地说明你究竟能不能接受这次邀请。如果对方是在谈话中或偶然遇见时口头提出邀请的，你就应该立刻回答能不能去。如果当时不能回答，你可以说?quot;我今晚告诉你，行吗？"或诸如此类的话。但不管是口头邀请还是书面邀请，都应当给予明确的回答。
   通常来说，表示你的确不能接受邀请的客气的办法是说出你不能不谢绝的理由。只是说一声"我不能去"或"我不去"是不礼貌的。说一声"对不起"也是不够的。只说一声"谢谢"，那就只能使人莫名其妙，不知你到底是接受邀请，还是谢绝邀请。
   如果你接受了邀请，忽然有事不能赴约。你应当把你不能前往的真实原因告诉对方，接受了邀请而又不赴约是一件极不礼貌的事情。
   在经历了饮食习惯的历史沿革之后，当我们都围坐在铺着雪白桌布、摆着锃亮刀叉的餐桌旁时，吃饭已经从只为了充饥的需求而发展成为一种令人愉快在复杂的社会习俗。今天，在你应邀赴宴的时候，你对同桌进餐的人和餐桌上的谈话，大概比对饮食要更感兴趣。实际进餐时，应该尽可能少一些声响，少一些动作。
   女主人一拿起餐巾时，你也就可以拿起你的餐巾，放在腿上。有时餐巾中包有一只小面包；如果是 那样的话, 就把它取出，放在旁边的小碟上。
   在西方，汽车有优先通行权。几个人肩并肩地排成一行走是不礼貌的。因为那样会妨碍别人行走或耽搁别人的时间。
   西方店铺，除极少数外，都对商品明码标价，没有讨价还价的习惯。店员们都很客气，尽力为顾客找到满意的商品。顾客也必须很客气，如果看了好几件物品以后，一件都不想买，顾客可以说: "恐怕这些都不是我所需要的，麻烦你了，多谢。"
   "谢谢你"（Thank you）这名话在西方比在中国用得要更加频繁得多。任何人替你做了一些事，不管事情多小，也不管他是你的上司还是佣人，你都应该说："谢谢你"。
   你讲话完毕以后，千万不要向听众致谢。不要说："谢谢你们"，"我谢谢你们"，或"多谢你们注意听我讲话"等。讲话完毕时，略微欠欠身就够了，不必要多讲什幺。
   当你给别人传递点东西或替人做些小事情而别人谢你时，你不必说什幺，只须笑一笑或点点头就够了。
</pre>


                    {{else}}
                      <p style="font-weight:bold;font-size:0.7rem;border:1px dashed #e3e3e3;padding:10px 10px">成为VIP，全网资源免费 <a href="/service">加入VIP</a></p>
                    {{/if}}
                  {{else}}
                      <p>音频字幕材料密钥: <span style="color:#e3e3e3;">VIP用户可见</span></p>
                      <p style="border:1px dashed red;padding:0.7rem 1rem;">成为VIP，全网资源免费 <a href="/service">加入VIP</a></p>
                  {{/if}}
                  </li>

               </ul>
              </div>


            </div><!--.page-->

        <!--其他的单个page内联页（如果有）-->
        <!--<div class="page">...</div>-->
    </div>

    <!-- popup, panel 等放在这里
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    {{> general/slide}}